[submodule "pin-front"]
	path = pin-front
	url = https://github.com/deerr1/pin-front.git
[submodule "pin-back"]
	path = pin-back
	url = https://github.com/deerr1/pin-back.git
[submodele "pin-front"]
	branch = master
[submodele "pin-back"]
	branch = master
